/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, menu, nav, output, ruby, section,
summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0;}

/* HTML5 display-role reset for older browsers */
/* endzeit_____ */
article, aside, details, figcaption, figure, footer, header, menu, nav, section, main {display: block;}

ol, ul {list-style: none;}
blockquote, q {quotes: none;}
img{max-width: 100%; height: auto;}
a{text-decoration: underline;}
a:hover{cursor: pointer;}
/* michael-k90 */
*::-webkit-input-placeholder {color: #a9a9a9; opacity: 1;}
*:-moz-placeholder {color: #a9a9a9; opacity: 1;}
*::-moz-placeholder {color: #a9a9a9; opacity: 1;}
*:-ms-input-placeholder {color: #a9a9a9; opacity: 1;}
*{margin: 0; padding: 0;}
*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
button,input,a{outline: none;}
/* endzeit_____ */
.hidden{display: none;}
.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.clearfix:after{content: '';display: block;clear: both;}
.clear{clear: both;height: 0px;}

html{
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased !important;
}
h1,h2,h3,h4,h5,h6{ 
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700; 
    line-height: 1.25;
    text-transform: uppercase;
    color:#4f3619;
    text-align: center;
}
b,strong{font-weight: 700;}
body{
    width: 100%;
    min-width: 320px;
    padding: 0px;
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
    color: #222222;
    background: #fff;
}
section{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
.wrap{
    width: 960px;
    padding: 0px 10px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.wrap:after {
    clear: both;
    content: "";
    display: table;
}
.m1-form {
    width: 300px;
    position: absolute;
    right: 81px;
    /*top: 258px;*/
    top: 238px;
}
.m1-form input.field{
    position: relative;
    display: block;
    outline: 0;
    border: none;
    border-bottom:1px solid #8a6d4b;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%;
    height: 62px;
    line-height: 68px;
    margin: 0 auto 10px;
    padding: 0 20px;
    background:#fff;
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #4f3619;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
}
.m1-form input.field::-webkit-input-placeholder {color: #4f3619; opacity: 1;}
.m1-form input.field:-moz-placeholder {color: #4f3619; opacity: 1;}
.m1-form input.field::-moz-placeholder {color: #4f3619; opacity: 1;}
.m1-form input.field:-ms-input-placeholder {color: #4f3619; opacity: 1;}
.m1-form input.field:focus::-webkit-input-placeholder {opacity:0;}
.m1-form input.field:focus::-moz-placeholder          {opacity:0;}
.m1-form input.field:focus:-moz-placeholder           {opacity:0;}
.m1-form input.field:focus:-ms-input-placeholder      {opacity:0;}
.button-m{
    position: relative;
    display: block;
    width: 300px;
    height: 64px;
    line-height: 62px;
    margin: 0 auto;
    border: 0;
    border-bottom: 4px solid #a00d0d;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background: #d11f1f;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -o-transition:      all 0.2s;
    -ms-transition:     all 0.2s;
    transition:         all 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.button-m:hover{
    background: #dd1e1e;
}
.button-m:active{
    background: #c91e1e;
}
.m1-form .button-m{
    width: 100%;
}
h2.title{
    margin: 0 0 40px 0;
    text-align: center;
    font-size: 36px;
}
h2.title>span{
    color: #d11f1f;
}
@media screen and (max-width: 976px) {
    .wrap{
        width: 640px;
    }
}
@media screen and (max-width: 659px) {
    .wrap{
        width: 320px;
    }
    
}